<header>
  <button class="hamburger-btn" (click)="toggleSidebar()" *ngIf="!isSidebarOpen">
    ☰
  </button>

  <div #sidebarOverlay class="sidebar-overlay" (click)="closeSidebar()"></div>

  <div #sidebar class="sidebar">
    <div>
      <div class="px-3 py-3 border-bottom">
        <strong class="text-dark">
          <img src="ford.png" alt="Ford Logo" class="img-ford-ajuste" />
        </strong>
      </div>
      <a href="/home" routerLinkActive="active" class="menu-item">
        Home <img class="imagem_bootstrap" src="casa.png" alt="Imagem casa" />
      </a>
      <a href="/dashboard" class="menu-item">
        Dashboard <img class="imagem_bootstrap" src="painel-de-controle.png" alt="Painel" />
      </a>
      <a href="/comparacao" class="menu-item">
        Comparação <img class="imagem_bootstrap" src="carro-sedan-na-frente.png" alt="Carro Sedan" />
      </a>
      <a href="/fale_conosco" class="menu-item">
        Feedback <img class="imagem_bootstrap" src="feedback-do-cliente.png" alt="Mensagem" />
      </a>
    </div>

    <div class="imagem_rede_socias">
      <a href="https://www.youtube.com/fordbrasil" target="_blank"><img src="youtube.png" alt="YouTube" /></a>
      <a href="http://www.instagram.com/fordbrasil/" target="_blank"><img src="instagram.png" alt="Instagram" /></a>
      <a href="https://x.com/fordbrasil" target="_blank"><img src="twitter.png" alt="Twitter" /></a>
      <a href="https://www.facebook.com/FordBrasil/?locale=pt_BR" target="_blank"><img src="facebook.png" alt="Facebook" /></a>
      <a href="https://br.linkedin.com/company/ford-brasil" target="_blank"><img src="linkedin.png" alt="LinkedIn" /></a>
    </div>
  </div>

  <div class="ajuste_fordi_img">
    <img src="ford.png" alt="Ford Logo" />
  </div>
</header>

<main>
  <div class="ajustes-avisos">
    <div class="avisos_dashboard">
      <p class="ajuste_p" style="color: black">Veículos</p>
      <hr />
      <form [formGroup]="selectCarForms" class="form-select-container">
        <select formControlName="carId" class="select">
          <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
            {{ vehicle.vehicle }}
          </option>
        </select>
      </form>
    </div>

    <div class="avisos_dashboard">
      <div class="cor-titulo-aviso">
        <p class="ajuste_p" style="color: black">Total de Vendas</p>
      </div>
      <hr />
      <p class="ajuste_numeros">{{ selectedVehicle.volumetotal }}</p>
      <p style="color: black">Unid.</p>
    </div>

    <div class="avisos_dashboard">
      <p class="ajuste_p" style="color: black">Conectados</p>
      <hr />
      <p class="ajuste_numeros">{{ selectedVehicle.connected }}</p>
      <p style="color: black">Unid.</p>
    </div>

    <div class="avisos_dashboard">
      <p class="ajuste_p" style="color: black">Update Software</p>
      <hr />
      <p class="ajuste_numeros">{{ selectedVehicle.softwareUpdates }}</p>
      <p style="color: black">Unid.</p>
    </div>
  </div>

  <div class="img_alternada">
    <img [src]="selectedVehicle.img" alt="Veículo Selecionado" />
  </div>
</main>

<footer class="footer">
  <div class="footer-content">
    <p>Copyright © 2025 Ford Motor Company - Todos os direitos reservados</p>
    <div class="logo">
      <img src="ford-96.png" alt="Logo da Ford" />
    </div>
  </div>
</footer>
